[submodule "srt"]
	path = srt
	url = https://github.com/Gussy/srt.git
	shallow = true
[submodule "srtla"]
	path = srtla
	url = https://github.com/Gussy/srtla.git
	shallow = true
[submodule "sls"]
	path = sls
	url = https://github.com/Gussy/srt-live-server.git
	shallow = true
